.Container {
    width: 100%;
    min-height: 100vh;
    
}
.Container h1,h3 {
    margin: 0;
}

.Heading {
    height: 100px;
    background-color: rgb(63, 63, 63);
    box-sizing: border-box;
    display: flex;
    color: white;
}
 .Heading h1 {
    margin: auto;
    font-size: 50px;
 }

 .GladiatorContentContainer {
     width: 100%;
     height: 100%;
     box-sizing: border-box;
     padding: 15px;
 }

 .GladiatorContentBody {
     width: 100%;
     height: 100%;
     /* box-sizing: border-box; */
     display: flex;
     flex-flow: column;
     

 }